<%= page_title "Profile" %>

<p>Username: <%= @user.username.capitalize %></p>
<p>Email: <%= @user.email %></p>

<form class="d-flex" action="<%= session_url %>" method="post">
	<%= authenticity_token  %>
	<input type="hidden" name="_method" value="delete">
	<button class="btn btn-primary" type="submit">Logout</button>
</form>