<div>
	<% if products.empty? %>
		<div class="my-3">No products at the moment.</div>
	<% else %>
		<%# Desktop %>
		<div class="table-responsive d-none d-md-block">
			<table class="table table-hover align-middle">
				<thead>
					<tr>
						<th class='w-25-rem'>Name</th>
						<th class='w-10-rem'>Quantity</th>
						<th >Category</th>
						<th>Actions</th>
						<th class='w-10-rem'>Reorder Amount</th>
						<th>Modified</th>
					</tr>
				</thead>
				<tbody>
					<% products.order(:created_at).each do |product| %>
						<%= products_table_row(product, location) %>
					<% end %>
				</tbody>
			</table>
		</div>
		<%# Mobile %>
		<div class="d-md-none">
			<table class="table align-middle">
				<thead>
					<tr>
						<th class="w-60" scope='col'>Name</th>
						<th scope='col'>Quantity</th>
					</tr>
				</thead>
				<tbody>
					<% products.order(:created_at).each do |product| %>
						<tr 
							scope='row' 
							id="<%= product.id %>"
							class="<%= (!product.reorder_limit.nil? && product.quantity < product.reorder_limit) ? "bg-danger bg-opacity-25" : "" %>">
							<td>
								<a class='text-decoration-none text-black' href='<%= product_url(product) %>'><%= product.name %></a>
							</td>
							<td class="d-flex">
								<%= product_quantity_form(product, location)%>
								<%= product.status == 0 ?
									request_button(product, location) :
									(product.status == 1 ? 
									ordered_button(product, location) :
									received_button(product, location))%>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	<% end %>
</div>