<% products = @category.products %>
<% current_category = @category %>

<section>
	<%= page_title "Categories" %>
	<ul class="nav nav-pills horizontal-scroll">
		<% @categories.each do |category| %>
			<li class="nav-item">
				<a class="nav-link <%= current_category.id == category.id && "active" %>" href="<%= category_url(category) %>"><%= category.name %></a>
			</li>
		<% end %>
	</ul>
	<%= render 'shared/products', products: products %>
	<%= render 'products/form', categories: @categories, current_category_id: @category.id %>
</section>