<% products = @category.products %>
<% current_category = @category %>

<section>
	<div class="d-flex justify-content-between mt-4 mb-2">
		<%= page_title "Categories" %>
		<div>
			<a class="btn btn-primary btn-sm w-7-rem" href="<%= categories_url %>">Manage</a>
		</div>
	</div>
	<ul class="nav horizontal-scroll nav-pills pb-2">
		<% @categories.each do |category| %>
			<li class="nav-item">
				<a class="nav-link text-nowrap <%= current_category.id == category.id && "active" %>" href="<%= category_url(category) %>"><%= category.name %></a>
			</li>
		<% end %>
	</ul>
	<%= render 'shared/products', products: products, location: 1 %>
	<%= render 'products/form', categories: @categories, current_category_id: @category.id, location: 1 %>
</section>