<div>
	<%= render "shared/errors" %>
	<form action="<%= products_url %>" method="post">
		<%= authenticity_token %>
		<label for="product_name">Name</label>
		<input type="text" name="product[name]" id="product_name">
		<br>
		<label for="product_quantity">Quantity</label>
		<input type="number" name="product[quantity]" id="product_quantity">
		<br>
		<label for="product_image_url">Image URL</label>
		<input type="text" name="product[image_url]" id="product_image_url">
		<br>
		<label for="product_shop_url">Shop URL</label>
		<input type="text" name="product[shop_url]" id="product_shop_url">
		<br>
		<label for="product_category">Category</label>
		<select name="product[category_id]" id="product_category">
			<option selected disabled>-- Select Category --</option>
			<% categories.each do |category| %>
				<option 
					value="<%= category.id %>"
					<%= !current_category_id.nil? && (category.id == current_category_id && "selected") %>>
						<%= category.name %>
				</option>
			<% end %>
		</select>
		<br>
		<input type="submit" value="Create">
	</form>
</div>