<a class="text-success text-decoration-none" href="<%= dashboard_products_url %>">
	<div class="alert alert-success" role="alert">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
			<path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
			<path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
		</svg>
		<span class="">Click here to refresh page and view changes!</span>
	</div>
</a>
<% if flash[:notified_manager] %>
	<div class="alert alert-success" role="alert">
		Manager has been notified!
	</div>
<% end %>

<%# Need to Order %>
<section>
	<div class="dashboard-display mt-4 mb-2">
		<%= page_title "Need to Order" %>
		<div>
			<div class="d-flex">
				<form action="<%= request_products_products_url %>" method="post">
					<%= authenticity_token %>
					<button class='dashboard-button btn btn-dark btn-sm' type="submit">Notify Manager</button>
				</form>
				<form action="<%= order_all_requested_products_url%>" method="post">
					<%= authenticity_token %>
					<button class='dashboard-button btn btn-primary btn-sm ms-1' type="submit">Ordered All</button>
				</form>
			</div>
		</div>
	</div>
	<%= render 'shared/products', products: @products.where(status: 1), location: 4 %>
</section>

<%# Items in Route %>
<section>
	<div class="dashboard-display mt-4 mb-2">
		<%= page_title "Items in Route" %>
		<div>
			<form action="<%= receive_all_ordered_products_url %>" method="post">
				<%= authenticity_token %>
				<button class='dashboard-button btn btn-primary btn-sm' type="submit">Receive All</button>
			</form>
		</div>
	</div>
	<%= render 'shared/products', products: @products.where(status: 2), location: 4 %>
</section>