<%# Need to Order %>
<% if flash[:notified_manager] %>
	<div class="alert alert-success" role="alert">
		Manager has been notified!
	</div>
<% elsif flash[:updated] %>
	<div class="alert alert-success" role="alert">
		Successfully updated! <a class="text-success" href="<%= dashboard_products_url %>">Click to view changes!</a>
	</div>
<% end %>
<section>
	<div class="dashboard-display mt-4 mb-2">
		<%= page_title "Need to Order" %>
		<div>
			<div class="d-flex">
				<form action="<%= request_products_products_url %>" method="post">
					<%= authenticity_token %>
					<button class='dashboard-button btn btn-dark btn-sm' type="submit">Notify Manager</button>
				</form>
				<form action="<%= order_all_requested_products_url%>" method="post">
					<%= authenticity_token %>
					<button class='dashboard-button btn btn-primary btn-sm ms-1' type="submit">Ordered All</button>
				</form>
			</div>
		</div>
	</div>
	<%= render 'shared/products', products: @products.where(status: 1), location: 0 %>
</section>

<%# Items in Route %>
<section>
	<div class="dashboard-display mt-4 mb-2">
		<%= page_title "Items in Route" %>
		<div>
			<form action="<%= receive_all_ordered_products_url %>" method="post">
				<%= authenticity_token %>
				<button class='dashboard-button btn btn-primary btn-sm' type="submit">Receive All</button>
			</form>
		</div>
	</div>
	<%= render 'shared/products', products: @products.where(status: 2), location: 0 %>
</section>