<!DOCTYPE html>
<html>
  <head>
    <title>StockUp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
	<nav>
		<% if logged_in? %>
			<form action="<%= session_url %>" method="post">
				<%= authenticity_token  %>
				<input type="hidden" name="_method" value="delete">
				<input type="submit" value="Logout">
			</form>
		<% else %>
			<div>
				<%= link_to "Login", new_session_url %>
				<%= link_to "Register", new_user_url %>
			</div>
		<% end %>
		<%= link_to "Order List", order_list_products_url %>
		<%= link_to "Products", products_url %>
		<%= link_to "Categories", categories_url %>
		<%= link_to "Profile", user_url(current_user) %>
	</nav>
  <body>
    <%= yield %>
  </body>
</html>
